<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input
      matInput
      type="number"
      [min]="minimo"
      [max]="maximo"
      [step]="step"
      [placeholder]="titulo"
      [name]="controlName"
      [formControlName]="controlName"
    />
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')"
      >Campo é obrigatório</mat-error
    >
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'min')"
      >Nota mínima é
      {{ validacao.lengthValidar(formControl, "min") }}</mat-error
    >
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'max')"
      >Nota máxima é
      {{ validacao.lengthValidar(formControl, "max") }}</mat-error
    >
  </mat-form-field>
</div>
